[Desktop Entry]
Version=1.0
Type=Link
Name=Coursera
Comment=
Icon=/home/eduardo/Imágenes/Logo Coursera.jpeg
URL=https://www.coursera.org/my-learning?myLearningTab=IN_PROGRESS
